<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slebewpintar">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".itinerary7" ></activity>
        <activity android:name=".itinerary6" />
        <activity android:name=".itinerary5" />
        <activity android:name=".itinerary4" />
        <activity android:name=".itinerary3" />
        <activity android:name=".itinerary2" />
        <activity android:name=".itinerary1" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".CustomActivity" />
        <activity android:name=".JodohActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>